<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="isLogged | async"
>
  <a
    class="navbar-brand"
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
    >Home</a
  >

  <button
    (click)="toggle()"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngbCollapse]="toggled"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Link</a>
      </li> -->
      <li class="nav-item dropdown" ngbDropdown>
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
        >
          Dropdown
        </a>
        <div
          class="dropdown-menu"
          ngbDropdownMenu
          aria-labelledby="navbarDropdown"
        >
          <ng-container *ngIf="isCoach | async">
            <a
              class="dropdown-item"
              ngbDropdownItem
              [routerLink]="['/new-quiz']"
              routerLinkActive="router-link-active"
              >New Quiz</a
            >
            <a
              class="dropdown-item"
              ngbDropdownItem
              [routerLink]="['/list-quiz']"
              routerLinkActive="router-link-active"
              >Quiz List</a
            >
          </ng-container>
          <a
            *ngIf="isCandidate | async"
            class="dropdown-item"
            ngbDropdownItem
            [routerLink]="['/list-answer']"
            routerLinkActive="router-link-active"
            >Answer List</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ngbDropdownItem (click)="logOut()">Logout</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
</nav>
